@font-face {
    font-family: 'MyCalligraphyFont';
    src: url('fonts/Myfont-Regular.woff2') format('woff2'),
         url('fonts/Myfont-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'MyCalligraphyFont', cursive;
}

#pop{
    background-image: url(wallpaper.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: centre;
    background-repeat: no-repeat;
    margin-top: -20px;
    width:100%;
    height: 100vh;
    
    font-family: Arial, sans-serif;

}
#beginning{
    background-image: url(background.png);
}



#main-header{
    width: 60%;
    aspect-ratio: 4 / 1; /* Adjust based on your image's aspect ratio */    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -75px;
    background-image: url(title.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main-introduction{
    position: relative;
    margin-top:-10px
}
/*
div{
    width: 200px;
    height: 100px;
    background-color: lightblue;
    border: 2px solid blue;
    padding: 10px;
    margin: 10px;
}

#image-1{
    width:250px;
    height:250px;
    background-color: lightblue;
    border: 2px solid blue;
    padding: 10px;
    margin: 10px;
}
*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#totalsector{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

#totalsector:hover{
    opacity: 0.7;  /* when i hover my mouse on the image, the opacity of the image will be 0.7 */
}

.image{
    margin-left: 400px;
    margin-inline: 400px;
    position: absolute;
    display: none;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    margin: auto;
    
}

#ninety-five{
    width: 200px;
    height: 200px;
    margin-left: 210px;
    margin-inline: 210px;
    margin-top: -200px; /* Shifting it up (negative value to move it up) */
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  #ninety-five:hover{
    opacity: 0.7;  /* when i hover my mouse on the image, the opacity of the image will be 0.7 */
  }
  
  .images{
    position: absolute;
    display: none;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    margin-top: 20px;
   

}

#ninety-six{
    width: 200px;
    height: 200px;
    margin-left: 420px;
    margin-inline: 420px;
    margin-top: -200px; /* Shifting it up (negative value to move it up) */
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

    #ninety-six:hover{
        opacity: 0.7;  /* when i hover my mouse on the image, the opacity of the image will be 0.7 */
    }


  .imagess{
    display: none;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    margin-top: 20px;

    
}

#ninety-seven{
    width: 200px;
    height: 200px;
    margin-left: 630px;
    margin-inline: 630px;
    margin-top: -200px; /* Shifting it up (negative value to move it up) */
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

#ninety-seven:hover{
    opacity: 0.7;  /* when i hover my mouse on the image, the opacity of the image will be 0.7 */
}

#ninety-eight{
    width: 200px;
    height: 200px;
    margin-left: 840px;
    margin-inline: 840px;
    margin-top: -200px; /* Shifting it up (negative value to move it up) */
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#ninety-eight:hover{
    opacity: 0.7;  /* when i hover my mouse on the image, the opacity of the image will be 0.7 */
}


#ninety-nine{
    position: relative;
    width: 200px;
    height: 200px;
    margin-top : -200px;
    margin-left: 1050px;
    margin-inline: 1050px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#ninety-nine:hover{
    opacity: 0.7;  /* when i hover my mouse on the image, the opacity of the image will be 0.7 */
}

#two-zero{
    width: 200px;
    height: 200px;
    margin-top: 20px; /* Shifting it up (negative value to move it up) */
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#two-zero:hover{
    opacity: 0.7;  /* when i hover my mouse on the image, the opacity of the image will be 0.7 */
}

#two-one{
    width: 200px;
    height: 200px;
    margin-left: 210px;
    margin-inline: 210px;
    margin-top: -200px; /* Shifting it up (negative value to move it up) */
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#two-one:hover{
    opacity: 0.7;  /* when i hover my mouse on the image, the opacity of the image will be 0.7 */
}
#two-two{
    width: 200px;
    height: 200px;
    margin-left: 420px;
    margin-inline: 420px;
    margin-top: -200px; /* Shifting it up (negative value to move it up) */
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#two-two:hover{
    opacity: 0.7;  /* when i hover my mouse on the image, the opacity of the image will be 0.7 */
}
#two-three{
    width: 200px;
    height: 200px;
    margin-left: 630px;
    margin-inline: 630px;
    margin-top: -200px; /* Shifting it up (negative value to move it up) */
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#two-three:hover{
    opacity: 0.7;  /* when i hover my mouse on the image, the opacity of the image will be 0.7 */
}

#two-four{
    position: relative;
    width: 200px;
    height: 200px;
    margin-left: 840px;
    margin-inline: 840px;
    margin-top : -200px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#two-four:hover{
    opacity: 0.7;  /* when i hover my mouse on the image, the opacity of the image will be 0.7 */
}

#two-five{
    width: 200px;
    height: 200px;
    margin-left: 1050px;
    margin-inline: 1050px;
    margin-top: -200px; /* Shifting it up (negative value to move it up) */
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#two-five:hover{
    opacity: 0.7;  /* when i hover my mouse on the image, the opacity of the image will be 0.7 */
}

#two-six{
    width: 200px;
    height: 200px;
    margin-top: 20px; /* Shifting it up (negative value to move it up) */
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#two-six:hover{
    opacity: 0.7;  /* when i hover my mouse on the image, the opacity of the image will be 0.7 */
}

#two-seven{
    width: 200px;
    height: 200px;
    margin-left: 210px;
    margin-inline: 210px;
    margin-top: -200px; /* Shifting it up (negative value to move it up) */
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#two-seven:hover{
    opacity: 0.7;  /* when i hover my mouse on the image, the opacity of the image will be 0.7 */
}

#two-eight{
    width: 200px;
    height: 200px;
    margin-left: 420px;
    margin-inline: 420px;
    margin-top: -200px; /* Shifting it up (negative value to move it up) */
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#two-eight:hover{
    opacity: 0.7;  /* when i hover my mouse on the image, the opacity of the image will be 0.7 */
}

#two-nine{
    position: relative;
    width: 200px;
    height: 200px;
    margin-left: 630px;
    margin-inline: 630px;
    margin-top : -200px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#two-nine:hover{
    opacity: 0.7;  /* when i hover my mouse on the image, the opacity of the image will be 0.7 */
}

#two-ten{
    width: 200px;
    height: 200px;
    margin-left: 840px;
    margin-inline: 840px;
    margin-top: -200px; /* Shifting it up (negative value to move it up) */
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#two-ten:hover{
    opacity: 0.7;  /* when i hover my mouse on the image, the opacity of the image will be 0.7 */
}

#two-eleven{
    width: 200px;
    height: 200px;
    margin-left: 1050px;
    margin-inline: 1050px;
    margin-top: -200px; /* Shifting it up (negative value to move it up) */
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#two-eleven:hover{
    opacity: 0.7;  /* when i hover my mouse on the image, the opacity of the image will be 0.7 */
}

#two-twelve{
    width: 200px;
    height: 200px;
    margin-top: 20px; /* Shifting it up (negative value to move it up) */
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#two-twelve:hover{
    opacity: 0.7;  /* when i hover my mouse on the image, the opacity of the image will be 0.7 */
}
#two-thirteen{
    width: 200px;
    height: 200px;
    margin-left: 210px;
    margin-inline: 210px;
    margin-top: -200px; /* Shifting it up (negative value to move it up) */
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#two-thirteen:hover{
    opacity: 0.7;  /* when i hover my mouse on the image, the opacity of the image will be 0.7 */
}

#two-fourteen{
    position: relative;
    width: 200px;
    height: 200px;
    margin-left: 420px;
    margin-inline: 420px;
    margin-top : -200px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#two-fourteen:hover{
    opacity: 0.7;  /* when i hover my mouse on the image, the opacity of the image will be 0.7 */
}

#two-fifteen{
    width: 200px;
    height: 200px;
    margin-left: 630px;
    margin-inline: 630px;
    margin-top: -200px; /* Shifting it up (negative value to move it up) */
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#two-fifteen:hover{
    opacity: 0.7;  /* when i hover my mouse on the image, the opacity of the image will be 0.7 */
}

#two-sixteen{
    width: 200px;
    height: 200px;
    margin-left: 840px;
    margin-inline: 840px;
    margin-top: -200px; /* Shifting it up (negative value to move it up) */
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#two-sixteen:hover{
    opacity: 0.7;  /* when i hover my mouse on the image, the opacity of the image will be 0.7 */
}

#two-seventeen{
    width: 200px;
    height: 200px;
    margin-left: 1050px;
    margin-inline: 1050px;
    margin-top: -200px; /* Shifting it up (negative value to move it up) */
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#two-seventeen:hover{
    opacity: 0.7;  /* when i hover my mouse on the image, the opacity of the image will be 0.7 */
}

#two-eighteen{
    width: 200px;
    height: 200px;
    margin-top: 20px; /* Shifting it up (negative value to move it up) */
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#two-eighteen:hover{
    opacity: 0.7;  /* when i hover my mouse on the image, the opacity of the image will be 0.7 */
}

#two-nineteen{
    position: relative;
    width: 200px;
    height: 200px;
    margin-left: 210px;
    margin-inline: 210px;
    margin-top : -200px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#two-nineteen:hover{
    opacity: 0.7;  /* when i hover my mouse on the image, the opacity of the image will be 0.7 */
}

#two-twenty{
    width: 200px;
    height: 200px;
    margin-left: 420px;
    margin-inline: 420px;
    margin-top: -200px; /* Shifting it up (negative value to move it up) */
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#two-twenty:hover{
    opacity: 0.7;  /* when i hover my mouse on the image, the opacity of the image will be 0.7 */
}
#icon{

    width: 500px;
    height: auto;
    margin-left: 300px;
    margin-top: 200px;
    margin-right: 300px;
    animation: rotation 6s infinite linear;
}

#icon:hover{
    opacity: 0.7;  /* when i hover my mouse on the image, the opacity of the image will be 0.7 */
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }